body {
    margin: 0;
    /* background-color: #172036; */
    background-color: #f5f5f5; 
}

.p-inputtext {
    background-color: #fff !important;
    color: black !important;
}

.p-textarea {
    background-color: #fff !important;
    color: black !important;
}

@font-face {
    font-family: Roboto;
    src: url(@/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(@/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(@/assets/fonts/roboto/Roboto-Bold.ttf);
}

* {
    font-family: Roboto;
}